<aside class="main-sidebar sidebar-dark-purple elevation-4">
    <a href="#" class="brand-link">
        <!-- <img src="assets/logo.png" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
        <span class="brand-text font-weight-light">Tarefa APP</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/logo.png" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a href="#" class="d-block"></a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent"
                data-widget="treeview" role="menu"
                data-accordion="false">


                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
                        
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/categorias" routerLinkActive="active"
                       class="nav-link">
                        <i class="nav-icon fas fa-people-carry"></i>
                        <p>
                            Categorias
                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
